<html>
<head></head>
<body>
	<h2 id='title'>please sign in.</h2>
	<div id="form-container">
		<form method="post" action="/sessions">
			Email: <input type="text" name='email'>
			Password: <input type="password" name='password'>
			<input type="submit" value="Sign in">
		</form>
	</div>
</body>
</html>