body {
	font-family: 'Nunito', sans-serif;
}

header {
	width: 100%;
	height: 50px;
	margin-top: 20px;
}

form {
	display: inline;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

.left-logo {
	display: inline;
	float: left;
	font-size: 23px;
}

.menu-link {
	display: inline;
	margin-top: 5px;
}

.add-link {
	display: inline;
	float: left;
	margin-left: 40px;
}

.right-menu {
	float: right;
	margin-top: 5px;
}

.submit-link {
	font-family: 'Nunito', sans-serif;
	background:none!important;
	border:none; 
	padding:0!important;
	cursor: pointer;
}