body {
	font-family: 'Nunito', sans-serif;
}

header {
	width: 100%;
	height: 50px;
	margin-top: 20px;
}

footer {
	display: flex;
	margin-top: 30px;
}

form {
	display: inline;
}

img {
	max-width: 200px;
	height: auto;
}

#makersacademy-logo {
	display: inline;
}

#technologies {
	display: inline;
	font-size: 12px;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}

#title {
	font-size: 20px;
	margin-bottom: 10px;
}

#links-container {
	margin-top: 30px;
	padding: 10px;
	border: 2px solid;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

.left-logo {
	display: inline;
	float: left;
	font-size: 23px;
}

.link {
	margin-top: 7px;
	margin-bottom: 13px;
}

.link a.title {
	font-weight: bold;
}

.link .source {
	float: right; 
	font-size: 12px;
}

.menu-link {
	display: inline;
	margin-top: 5px;
}

.add-link {
	display: inline;
	float: left;
	margin-left: 40px;
}

.right-menu {
	float: right;
	margin-top: 5px;
}

.submit-link {
	font-family: 'Nunito', sans-serif;
	background:none!important;
	border:none; 
	padding:0!important;
	cursor: pointer;
}

footer img {
	vertical-align: top;
}

footer #technologies {
	-webkit-flex: 1;
	flex: 1;
}

footer p {
	text-align: right;
	padding: 5px 0px 5px 50px;
}