<h1>Please enter the new password.</h1>

<form action="/new_password" method="post">
	Password: <input name="password" type="password">
	Password Confirmation: <input name="password_confirmation" type="password">
	<input type="hidden" name="token" value=<%= @token %>>
	<input type="submit" value="Change Password">
</form>	