<html>
<head></head>
<body>
	<h2 id='title'>please enter your email to recover the password.</h2>
	<div id='form-container'>
		<form method="post" action="/recovery">
			Email: <input type="text" name='email'>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>