<!DOCTYPE html>

<html>
<head>
	<title>Bookmark manager</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='wrapper'>
		<header>
			<span class='left-logo'><a href='/'>bookmark_manager // 1.0</a></span>
			<span class='add-link menu'><a href='/links/new'>--->add a bookmark!</a></span>
			<nav class="right-menu">
				<% if current_user %>
				<ul>
					<li class='menu-link'>Welcome, <%= current_user.email %>.</li>
					<li class='menu-link'>
						<form method="post" action="/sessions">
							<input type="hidden" name="_method" value="delete">
							<input type="submit" class="submit-link" value="Sign out">
						</form>
					</li>
				</ul>
				<% else %>
				<ul>
					<li class='menu-link'>Welcome, unsigned user.</li>
					<li class='menu-link'><a href="/users/new">/ sign up </a></li>
					<li class='menu-link'><a href="/sessions/new">/ sign in /</a></li> 
				</ul>
				<% end %>
			</nav>
		</header>
		<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
		<% end %>
		<% if flash[:errors] && !flash[:errors].empty? %>
		Sorry, there were the following problems with the form.
		<ul id='errors'>
			<% flash[:errors].each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
		<% end %>
		<%= yield %>
		<footer>
			<span id="makersacademy-logo">
				<a href="http://www.makersacademy.com/">
					<img src="http://www.makersacademy.com/images/logo.png">
				</a>
			</span>
			<span id="technologies">
					<p>I built this page at <a href="http://www.makersacademy.com"> Makers Academy, a highly selective 12 week coding course in London.</a></p><p>This website is built using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.</p>
				</span>
			</footer>
		</div>
	</body>
	</html>